.container-fluid{
	background-color: aliceblue;
	padding-top: 20px;
	display: flex;
    flex-direction: row;
	min-height: 100vh;
}

.lateral{
	width: 16%;
	font-family: sans-serif;
}

.mb-3{
	border: solid;
	border-color: #999;
	border-radius: 25px;
	padding: 9px;
}

.mb-3 label{
	margin-top: 6px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: -3px;
}

.mb-3 input{
	margin-bottom: 6px;
	margin-left: 6px;
	margin-right: 10px;
	width: 96%;
}

.cargaManual{
	border: solid;
	border-color: #999;
	border-radius: 25px;
	padding: 9px;
}

.cargaManual label.form-label{
	margin-top: 6px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 8px;
}

.cargaManual .labels{
	margin-left: 6px;
	font-size: 12px;
}

.cargaManual input,
.cargaManual div, 
.cargaManual select{
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 0px;
	width: 96%;
}

.btn{
	margin-top: 20px;
}

.divisor{
	background-color: #999;
	width: 2px;
	margin-left: 8px;
	margin-right: 8px;
}

#divTabla{
	display: none;
	font-size: 14px;
	width: 80%;
}

#divTabla input, 
#divTabla select{
	font-size: 14px;
	padding: 2px;
	text-align: center;
}

.cargaManual input.inputCod {
	text-align: left;
}

.cargaManual input.inputCod::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
  }

.inputPrecio {
	text-align: left;
}

.inputCant {
	
}

.inputSelect {
	
}

.columnaCod {
	width: 5%;
}

.columnaDesc {
	width: 30%;
}

.columnaPrecio {
	width: 10%;
}

.columnaPlan {
	width: 20%;
}

.columnaCant {
	width: 5%;
}

.celdaAlineadaDerecha {
	text-align: right;
	vertical-align: middle;
}

.celdaDesc {
	text-align: left;
	vertical-align: middle;
}

td {
	border: 1px solid;
}

.codError{
	color: aliceblue;
	font-size: 12px;
	background-color: red;
	border-radius: 10px;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	position: fixed;
	margin-top: 20px;
	margin-left: 40px;
	
}

.borrar{
	color: red;
	text-decoration:none;
}