.consigna{
    display: flex;
    flex-direction: column;
    border: 1px solid #9b9898;
    border-radius: 4px;
    margin-bottom: 40px;
}

.consigna header{
    padding: 20px;
    padding-bottom: 10px;
    color: #fff;
    background: #007BFF;
    background: linear-gradient(90deg, rgba(0, 123, 255, 1) 0%, rgba(111, 130, 237, 1) 78%);
}

.consigna ol{
    padding: 20px;
    margin-left: 1rem;
}

.consigna footer{
    padding: 20px;
    padding-top: 0;
    display: flex;
    justify-content: center;
}
